body {
  color: hsl(0, 0%, 100%);
}

.grid {
  display: grid;
  align-items: center;
  gap: 20px;
}

.block-with-child {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 100px;
}

.block {
  height: 50px;
  width: 160px;
  background-color: aliceblue;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr auto;
}
